<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="post">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email">
        {% for message in get_flashed_messages(category_filter='error_login_email') %}
            <p class="error">{{ message }}</p>
        {% endfor %}
        <label for="pw">Password:</label>
        <input type="password" name="pw" id="pw">
        {% for message in get_flashed_messages(category_filter='error_login_pw') %}
            <p class="error">{{ message }}</p>
        {% endfor %}
        <input type="submit" value="Login">
    </form>
    <h1>Register</h1>
    <form action="/user/create" method="post">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="first_name">
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" id="last_name">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email">
        <label for="password">Password:</label>
        <input type="password" name="pw" id="password">
        <label for="confirm_pw">Confirm Password:</label>
        <input type="password" name="confirm_pw" id="confirm_password">
        <input type="submit" value="Register">

    
    
    </form>
</body>
</html>